:root{
    --background-color:#fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-size: 1.5em;
    font-weight: bolder;
    color: red;

}

.navbar{
    height: 55px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links>a{
    text-decoration: none;
    margin-left: 10px;
    color: white;

}

.nav-container{
    padding-inline: 5vw;
}

.sidebar-btn{
    height: 28px;
    width: 30px;
    position: relative;
}

.sidebar-btn.active> .bar:first-child{
    background-color: rgb(255, 255, 255);
    transform: translate(0, -50%) scale(1) rotate(45deg);
    top: 50%;
    transform-origin: center;
}
.sidebar-btn.active> .bar:nth-child(2){
    background-color: rgb(255, 255, 255);
    transform: translate(0, -50%) scale(0);
    top: 50%;
    transform-origin: center;

}
.sidebar-btn.active> .bar:nth-child(3){
    background-color: white;
    transform: translate(0, -50%) scale(1) rotate(-45deg);
    top: 50%;
    transform-origin: center;
}

.bar{
    border-radius: 5px;
    height: 8px;
    width: 100%;
    background-color: black;
    position: absolute;
}

.bar:first-child{
    top: 0;
}

.bar:nth-child(2){
    top: 50%;
    transform-origin: right;
    transform: scaleX(.8) translateY(-50%);
}

.bar:nth-child(3){
    top: 100%;
    transform-origin: right;
    transform: scaleX(1.1) translateY(-100%);
}

.hero-section{
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-section .image-wrapper{
    height: 100%;
}

.hero-section>.container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.hero-section .hero-article-wrapper{
    flex: 1;
}

.hero-section .form-wrapper{
    flex: 1;
}

.hero-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.hero-section::before{
    content: '';
    /* background:rgb(46, 51, 100); */
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.customer-page .container{
    padding-inline: 5vw;
}

.collection-container{
    padding: 30px 5vw;
}

.customer-page .card{
    position: relative;
    height: max-content;
    width: max-content;
}

.customer-page .card>.image-wrapper::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.25%, #000000 78.12%);

}

.collection-container .text-wrapper{
    position: absolute;
    bottom: 20px;
    color: white;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
}

.customer-page .text-wrapper>h6{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.customer-page .text-wrapper>h5{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.customer-page .text-wrapper>button{
    padding: 10px 40px;
    background: red;
    border: 0;
    outline: 0;
    color: white;
    font-weight: 700;
}

.customer-page .card-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-page .image-and-article-wrapper{
    background-color: #EEEE;
    padding: 50px 0;
}

.customer-page .image-and-article-wrapper>.container{
    display: flex;
}

.customer-page .container>.image-wrapper{
    flex: 1;
}

.customer-page .container>.article-wrapper{
    flex: 1;
    padding-top: 20px;
}

.customer-page .container>.article-wrapper>h6{
    font-size: 15px;
    font-weight: 500;
}

.customer-page .container>.article-wrapper>h5{
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    margin: 10px 0 15px 0;
}

.customer-page .container>.article-wrapper>p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.customer-page .container>.article-wrapper>button{
 padding: 10px 40px;
    background: red;
    border: 0;
    outline: 0;
    color: white;
    font-weight: 700;
    border-radius: 100px;
}


.customer-page .container>.image-wrapper>img{
    width: 600px;
    height: 500px;
    object-fit: cover;
    background-size: cover;
}

.hero-article-wrapper{
    padding: 50px 0;
    /* background-color: #A1D6B2; */
    height: max-content;
    align-self: flex-end;
}

.hero-article-wrapper h4{
      font-family: "Inter", sans-serif;
    color: #FFF;
    font-size: 54px;
    font-weight: 800;
}

.hero-article-wrapper button{
    margin-top: 20px;
    width: 50%;
  padding: 16px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}

.form-wrapper{
    height: max-content;
    background-color: #FFF;
    padding: 50px;
    border-radius: 15px;
    align-self: center;
    width: 400px;
}

.booking-form{
   
}

.booking-form input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    margin: 10px 10px 35px 0;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-item{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-item label{
    /* color: #FFF; */
}

.form-item input{
    padding: 15px 0;
    /* color: #FFF; */
}

.form-item input::foccus{
    border: none;
    outline: none;
}

.form-wrapper .button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper button{
    background-color: #A1D6B2;
      width: 50%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
}

